/*the outer frame of the game (not the board)*/
.ttt-game {
    margin: auto;
    vertical-align: middle;
}

/*the game board*/
.ttt-board {
    width: 450px;
    height: 450px;
    margin: auto;

    background-color: #ffffff;
}

.ttt-field {
    float: left;
    width: 148px;
    height: 148px;

    background-color: #eeeeee;
    border: 1px solid #fff;

    text-align: center;
    line-height: 148px;
    font-size: 150px;
    font-family: arial;
}

.ttt-field:hover {
    background-color: #00ff00;
    cursor: pointer;
}

.ttt-unclickable:hover {
    background-color: #ff0000;
    cursor: default;
}
