<div class="ttt-winner">
    {{#hasWinner this}}
        {{#isComputer this}}
            Sorry, you lost!
        {{else}}
            Congratulations {{this}}!
        {{/isComputer}}
    {{else}}
        Tie!
    {{/hasWinner}}
</div>